//color
$b:black;
$o:rgb(236, 31, 31);
$w:white;

//font-size

$h2:35px;
$h3:30px;
$h4:29px;
$h5:15px;
$p:17px;

//font-family
$f2:'Archivo Black', sans-serif;
$f:'Slabo 27px', serif;
$f5:'Montserrat Alternates', sans-serif;

